// File to define variables that the other files will use

///// COLORS START /////
///// COLORS END /////



///// SPACING STARTS /////
$smallSize: 1.2rem; 
$mediumSize: 1.6rem;
$largeSize: 3.2rem;
$xlSize: 4.8rem;
$desktopBreakpoint: 45rem;
///// SPACING ENDS /////